import os
import pathlib

discord_token = "ABCDEFGHIJKLMNOPQRSTUVWXYZ.1234567890"
client_id = "0123456789"
prefix = "s!"
bot_folder = "files"
cfg_name = "botdata_example.cfg"
sqlite_name = "santabotdb_example.sqlite"
dbg_name = "debug_example.log"
role_channel = 9876543210
min_budget = 10
max_budget = 20


###############################################
###           DO NOT CHANGE BELOW           ###
###############################################
cfg_path = os.path.join(str(pathlib.Path(__file__).parent), bot_folder, cfg_name)
sqlite_path = os.path.join(str(pathlib.Path(__file__).parent), bot_folder, sqlite_name)
dbg_path = os.path.join(str(pathlib.Path(__file__).parent), bot_folder, dbg_name)
